/.vscode
/APRA_final_report_v3.pdf
/MASSThesis_JeronimoCalderonGomez_comp.pdf
/sharps-echelle.code-workspace
snr_vs_mag_visibility0.5_BV12.0_R22_CDSFalse_UT.png
snr_vs_mag_visibility0.5_BV12.0_R500_CDSFalse_UT.png
snr_vs_mag_visibility0.5_BV12.0_R4500_CDSFalse_UT.png
snr_vs_mag_visibility0.5_BV12.0_R25000_CDSFalse_UT.png
snr_vs_mag_visibility1_BV12.0_R22_CDSFalse_UT_texp1.0_tin10.0.png
snr_vs_mag_visibility1_BV12.0_R22_CDSFalse_UT_texp1.0.png
snr_vs_mag_visibility1_BV12.0_R22_CDSFalse_UT_texp10.0_tin10.0.png
snr_vs_mag_visibility1_BV12.0_R22_CDSFalse_UT_texp10.0.png
snr_vs_mag_visibility1_BV12.0_R22_CDSFalse_UT_texp100.0_tin10.0.png
snr_vs_mag_visibility1_BV12.0_R22_CDSFalse_UT_texp100.0.png
snr_vs_mag_visibility1_BV12.0_R22_CDSFalse_UT.png
snr_vs_mag_visibility1_BV12.0_R500_CDSFalse_UT_texp1.0_tin10.0.png
snr_vs_mag_visibility1_BV12.0_R500_CDSFalse_UT_texp1.0.png
snr_vs_mag_visibility1_BV12.0_R500_CDSFalse_UT_texp10.0_tin10.0.png
snr_vs_mag_visibility1_BV12.0_R500_CDSFalse_UT_texp10.0.png
snr_vs_mag_visibility1_BV12.0_R500_CDSFalse_UT_texp100.0_tin10.0.png
snr_vs_mag_visibility1_BV12.0_R500_CDSFalse_UT_texp100.0.png
snr_vs_mag_visibility1_BV12.0_R500_CDSFalse_UT.png
snr_vs_mag_visibility1_BV12.0_R4500_CDSFalse_UT_texp1.0_tin10.0.png
snr_vs_mag_visibility1_BV12.0_R4500_CDSFalse_UT_texp1.0.png
snr_vs_mag_visibility1_BV12.0_R4500_CDSFalse_UT_texp10.0_tin10.0.png
snr_vs_mag_visibility1_BV12.0_R4500_CDSFalse_UT_texp10.0.png
snr_vs_mag_visibility1_BV12.0_R4500_CDSFalse_UT_texp100.0_tin10.0.png
snr_vs_mag_visibility1_BV12.0_R4500_CDSFalse_UT_texp100.0.png
snr_vs_mag_visibility1_BV12.0_R4500_CDSFalse_UT.png
snr_vs_mag_visibility1_BV12.0_R25000_CDSFalse_UT_texp1.0_tin10.0.png
snr_vs_mag_visibility1_BV12.0_R25000_CDSFalse_UT_texp1.0.png
snr_vs_mag_visibility1_BV12.0_R25000_CDSFalse_UT_texp10.0_tin10.0.png
snr_vs_mag_visibility1_BV12.0_R25000_CDSFalse_UT_texp10.0.png
snr_vs_mag_visibility1_BV12.0_R25000_CDSFalse_UT_texp100.0_tin10.0.png
snr_vs_mag_visibility1_BV12.0_R25000_CDSFalse_UT_texp100.0.png
snr_vs_mag_visibility1_BV12.0_R25000_CDSFalse_UT.png
